body {
	/* background-color:#292B2C;*/
	font-family: 'PT Sans', sans-serif;
}

a {
	outline: 0;
	text-decoration: none;
}

.modal-bg {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 100;
	background-color: rgba(50, 50, 50, 0.5);
}
.modal-bg1 {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 100;
	background-color: rgba(50, 50, 50, 0.5);
}
.button {
	position: relative;
	font-size: 17px;
	background: #DA244F;
	border-radius: 3px;
	border-bottom: 3px solid #B5002A;
	padding: 7px 15px;
	color: #fff;
	cursor: pointer;
	float: right;
	margin: 50px 70px;
	-webkit-transition: margin 100ms;
	-moz-transition: margin 100ms;
	transition: margin 100ms;
}

.button:active {
	margin: 53px 70px;
}

.button:hover {
	background: #C40532;
}

form {
	display: block;
	margin: 30px;
}

form * {
	margin: 10px;
}

input:focus {
	border: 2px solid #5DC3A7;
	outline: 0;
}

input {
	width: 240px;
	padding: 7px;
	border: 2px solid #ccc;
	border-radius: 3px;
}

button {
	float: right;
	padding: 8px 12px;
	margin-top: 15px;
	background: #5DC3A7;
	border: none;
	color: #fff;
	border-bottom: 3px solid #23AA84;
	border-radius: 3px;
	cursor: pointer;
}

button:active {
	margin: 18px 10px;
}

button:hover {
	background-color: #0FC491;
}

#forgot-link {
	font-size: 14px;
	line-height: 45px;
	color: #5DC3A7;
	display: inline-block;
}

#forgot-link:hover {
	color: #23AA84;
}

#modal {
	position: absolute;
	background-color: #F5F5F6;
	top: 50%;
	left: 50%;
	z-index: 101;
	border-radius: 3px;
	width: 340px;
	height: 270px;
	margin-top: -130px;
	margin-left: -170px;
	border-bottom: 3px solid #5DC3A7;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
#modal1 {
	position: absolute;
	background-color: #F5F5F6;
	top: 50%;
	left: 50%;
	z-index: 101;
	border-radius: 3px;
	width: 340px;
	height: 270px;
	margin-top: -130px;
	margin-left: -170px;
	border-bottom: 3px solid #5DC3A7;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
  
#modal span {
	display: block;
	background: #5DC3A7;
	padding: 10px;
	color: #fff;
	border-radius: 3px;
}
#modal1 span {
	display: block;
	background: #5DC3A7;
	padding: 10px;
	color: #fff;
	border-radius: 3px;
}
#close {
	float: right;
	color: #fff;
	font-family: serif;
	font-size: 15px;
}

#close:hover {
	color: #000;
}

#close1 {
	float: right;
	color: #fff;
	font-family: serif;
	font-size: 15px;
}

#close1:hover {
	color: #000;
}

#user{
	height:100%;
	width:200px;
	color:rgb(255,255,255)
	
}
#user li{
	list-style-type:none
}
#user .ul{
	
}
#show{
	display:none;
	z-index:10px
}
#user .ul li{
	color: white;
    
    width: 100px;
    height: 30px;
    text-align: center;
    line-height:30px;
    font-size:0.8em;
    font-family: '微软雅黑';
    background:rgb(20,62,108);
    
}
#user .ul li:hover{
	background:rgb(217,237,247);
}
#user a{
	text-decoration:none
}
#user img{
	width:40px;
	height:40px;
}

.divcenter {
	margin: 0 auto;
	width:500px;
	height:400px;
}
.